*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.maincontainer{
    height: 100vh;
    width: 100vw;
    /* border: 2px solid red; */
}
.header{
    width: 100%;
    height: 10%;
    /* border: 2px solid red; */
    background: #000;
    display: flex;
    justify-content: center;
}
.headermain{
    width: 20%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
}
.headerleft{
    width: 30%;
    height: 100%;
    /* border: 2px solid red; */
}
.headerright{
    width: 70%;
    height: 100%;
    /* border: 2px solid red; */
    color: white;
    display: flex;
    align-items: center;
    margin-left: 5%;
}
img{
    width: 100%;
    height: 100%;
}
.middlecontainer{
    width: 100%;
    height: 60%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.middlecontainerright, .middlecontainerleft{
    width: 40%;
    height: 80%;
    /* border: 2px solid red; */
}
.middlecontainerleft{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px;
    /* border: 2px solid red; */
    background-color: #F7EADE;
}
.middlecontainerleftheader{
    width: 90%;
    height: 10%;
    /* border: 2px solid red; */
}
.middlecontainerleftdiv1, .middlecontainerleftdiv{
    width: 90%;
    height: 25%;
    border-bottom: 2px solid #A39179;
    display: flex;
    margin-top: 2%;
}
.middlecontainerleftdiv1{
    border: none;
}
.middlecontainerleftdivright{
    width: 10%;
    height: 100%;
    /* border: 2px solid red; */
}
.middlecontainerleftdivmiddle{
    width: 70%;
    height: 100%;
    /* border: 2px solid red; */
}
.middlecontainerleftdivleft{
    width: 20%;
    height: 100%;
    /* border: 2px solid red; */
}
.middlecontainerrightupper{
    width: 100%;
    height: 40%;
    padding-left: 2%;
    box-shadow: 0px 0px 5px;
    /* border: 2px solid red; */
    background-color: #F7EADE;
}
.middlecontainerright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
}
.middlecontainerrightlower{
    width: 100%;
    height: 50%;
    box-shadow: 0px 0px 5px;
    padding-left: 2%;
    /* border: 2px solid green; */
    background-color: #F7EADE;
}
.inputany{
    height: 40%;
    width: 95%;
    border: 2px solid brown;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding-left: 5%;
}
.inputany1{
    height: 25%;
    width: 95%;
    border: 2px solid brown;
    border-radius: 30px;
    padding-left: 5%;
    display: flex;
    align-items: center;
}

.lowercontainer{
    width: 100%;
    height: 30%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lowercontainerupper{
    width: 30%;
    height: 70%;
    /* border: 2px solid red; */
    display: flex;
}
.lowercontainerupperleft, .lowercontainerupperright{
    width: 50%;
    height: 100%;
    /* border: 2px solid red; */
}
.lowercontainerupperleftdiv, .lowercontainerupperrightdiv{
    width: 100%;
    height: 33%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}

.lowercontainerlower{
    width: 90%;
    height: 20%;
    /* border: 2px solid red; */
    background-color: #DBBA92;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color:#f1a84f
}